*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#gridContainer {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 65px 65px auto 65px;
    grid-template-areas: 
        'header'
        'subhead'
        'main'
        'footer';
    width: 100vw;
    height: 100vh;
}

#header {
    grid-area: header;
    background-color: #003566;
    display: grid;
    grid-template-columns: 410px 50px 40px 50px 40px 50px auto;
}

#homeButton {
    grid-column-start: 2;
    background-color: transparent;
    border: transparent;
    background-image: url('./house.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px;
}

#sidebarButton {
    grid-column-start: 4;
    background-color: transparent;
    border: transparent;
    background-image: url('./square.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px;
}

#addButton {
    grid-column-start: 6;
    background-color: transparent;
    border: transparent;
    background-image: url('./plus.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
}

#homeButton:hover {
    transform: scale(1.1);
}

#sidebarButton:hover {
    transform: scale(1.1);
}

#addButton:hover {
    transform: scale(1.1);
}

#sidebar {
    height: 100%;
    width: 250px;
    display: grid;
    visibility: hidden;
    color: whitesmoke;
    background-color: #000814;
    grid-template-rows: 75px 75px 75px auto;
    z-index: 1;
    position: fixed;
}
 

#onDeckButton {
    background-color: transparent;
    border: transparent;
    color: whitesmoke;
    font-weight: bold;
    font-size: 36px;
}

#stagingButton {
    background-color: transparent;
    border: transparent;
    font-weight: bold;
    color: whitesmoke;
    font-size: 36px;
}

#projectHeader {
    align-self: center;
    justify-self: center;
    font-size: 36px;
}

#onDeckButton:hover {
    transform: scale(1.1);
}

#stagingButton:hover {
    transform: scale(1.1);
}

#subHeader {
    grid-area: subhead;
    display: grid;
    color: whitesmoke;
    background-color: #001D3D;
    align-content: end;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#content {
    grid-area: main;
    display: grid;
    color: whitesmoke;
    background-color: #001D3D;
    padding-left: 100px;
    padding-top: 25px;
    justify-content: center;
    column-width: 100vw;
}

#footer {
    grid-area: footer;
    color: whitesmoke;
    background-color: #000814;
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}
#footDiv {
    column-width: 100vw;
    display: grid;
}
#footerStatement {
    font-size: 18px;
    justify-self: right;
    align-self: center;
}

#footerButton {
    background-image: url('./GitHub-Mark-Light-64px.png');
    grid-column-start: 3;
    background-color: transparent;
    border: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px;
    width: 45px;
    height: 45px;
    margin-left: 15px;
}

#form {
    width: 860px;
    height: 383px;
    display: grid;
    grid-template-rows: 75px 250px 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        'titleIn titleIn titleIn titleIn titleIn'
        'descriptionIn descriptionIn descriptionIn descriptionIn descriptionIn'
        'dueDateIn projectIn priorityIn submit cancel';
    margin: 0 auto;
    box-sizing: border-box;
    border: solid black;
    border-radius: 7px;
    background-color:#000814;
}

.formInput {
    background-color: #000814;
    color: whitesmoke;
    font-size: 16px;
    padding: 10px;
    outline: none;
    border: whitesmoke;
    border-width: 2px;
    border-radius: 7px;
    border-style: solid;
}
#titleIn {
    grid-area: titleIn;
    font-size: 48px;
    border: none;
}

#descriptionIn {
    grid-area: descriptionIn;
    resize: none;
    border: none;
}

#dueDateIn {
    grid-area: dueDateIn;
}

#projectIn {
    grid-area: projectIn;
}

#priorityIn {
    grid-area: priorityIn;
}

#submit {
    grid-area: submit;
}

#cancel {
    grid-area: cancel;
}